:root {
  --bottomColor: #2b1509;
  --social: #656953;
  --topColor: #9e715f;
}

/* general */
.sideColors {
  background-color: #d4b285;
  position: absolute;
  right: 0;
  width: 2em;
}

.sideColors > * {
  display: none;
}

.sideColors > * {
  height: 33.34%;
}

/* container */
#container {
  height: 100vh;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
}

/* rightSide */
#rightSide {
  width: 55vw;
}

#rightSideTop {
  background-color: var(--topColor);
  justify-content: flex-end;
  position: relative;
}

#socialMedia {

}

#socialMedia > a > i {
  color: var(--bottomColor);
  font-size: 2em;
  margin: 0.4em;
}

#rightSideBottom {
  background-color: var(--bottomColor);
  position: relative;
}

#videoSlideHolder {
  height: 16em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 95%;
}


#videoSlideHolder:-webkit-scrollbar {
  background: #fff;
  height: 2px;
  width: 2px;
}

.videoBox {
  display: inline-block;
  height: 14em;
  margin: 1em;
  width: 18em;
}

/* leftSide */
#leftSide {
  position: relative;
  width: 45vw;
}

#navBar {
  height: 4em;
  position: absolute;
  top: 0;
}

#navBar > p {
  font-size: 1.2em;
  margin: 0 1em;
}

#homeImgBox {
  height: 100vh;
  opacity: 0.6;
  position: absolute;
  top: 0;
  /* justify-content: flex-start; */
  width: 50vw;
  z-index: -1;
}

#homeImgBox img {
  height: 100%;
  left: -2em;
  position: relative;
  top: 2em;
}

#name {
  color: #2f221c;
  font-size: 6em;
  font-weight: bolder;
  text-align: center;
}

#name2 {
  font-size: 2em;
}
