:root {
  --bottomColor: #A77D4A;
  /* #A98978; */
  /* #5a2525; */
  /* #865836; */
  --social: #656953;
  --topColor: #310909;
  /* #280606; */
  /* #310909; */
}

/* b3833d */
/* #483600; */
/* #2b1509; */
/* #FFDC74; */
/* #9e715f; */

/* general */

/* container */
#container {
  height: 100vh;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
}

/* rightSide */
#rightSide {
  width: 55vw;
}

#rightSideTop {
  background-color: var(--topColor);
  justify-content: flex-end;
  position: relative;
}

#socialMedia {

}

#socialMedia > a > i {
  color: var(--bottomColor);
  font-size: 2em;
  margin: 0.4em;
}

#rightSideBottom {
  background-color: var(--bottomColor);
  position: relative;
}

#videoSlideHolder {
  height: 18em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 95%;
  align-items: flex-start;
}


#videoSlideHolder:-webkit-scrollbar {
  background: #fff;
  height: 2px;
  width: 2px;
}

.videoBox {
  display: inline-block;
  height: 14em;
  margin: 1em;
  width: 20em;
  color: #fff;
}

.descriptionBox {
  width: 20em;
}

.descriptionBox p {
  width: 100%;
  white-space: normal;
  font-size: 1.1em;
}

/* leftSide */
#leftSide {
  position: relative;
  width: 45vw;
  background-image: url("../img/cropped/goldbackground.jpg");
  background-size: 100% 100%;
}

#navBar {
  height: 4em;
  position: absolute;
  top: 0;
}

#navBar > p {
  font-size: 1.6em;
  margin: 0 1em;
  letter-spacing: 3px;
}

#homeImgBox {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 50vw;
}

#homeImgBox img {
  height: 100%;
  left: -2em;
  position: relative;
  top: 2em;
}

#name {
  color: #fff;
  font-size: 6em;
  font-weight: bolder;
  text-align: center;
  z-index: 2;
}

#name2 {
  font-size: 2em;
}
