:root {
  --bottomColor: #A77D4A;
  --social: #656953;
  --topColor: #310909;
}

/* general */
body {
  overflow: hidden;
  background-color: rgba(49,9,9,1);
}

/* container */
#container {
  height: 100vh;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
}

/* landingPage */
#landingPage {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-image: url("../img/cropped/goldbackground.jpg");
  background-size: 100% 100%;
}

.landingNameHolder {
  z-index: 2;
  line-height: 0.8;
}

.landingName {
  font-size: 16em;
  margin: 0;
  font-weight: 700;
  letter-spacing: 50px;
  color: #fff;
}

.landingName2 {
  font-size: 6em;
  color: #000;
  margin: 0;
  text-align: right;
}

/* rightSide */
#rightSide {
  width: 55vw;
  height: 100%;
}

#rightSideTop {
  /* background-color: var(--topColor); */
  background: rgb(73,13,13);
  background: radial-gradient(circle, rgba(73,13,13,1) 0%, rgba(49,9,9,1) 100%);
  border-bottom: 1px solid #A77D4A;
  justify-content: flex-end;
  position: relative;
}

#socialMedia {

}

#socialMedia > a > i {
  color: var(--bottomColor);
  font-size: 2em;
  margin: 0.4em;
}

#rightSideBottom {
  /* background-color: var(--bottomColor); */
  background: rgb(167,125,74);
  background: radial-gradient(circle, rgba(167,125,74,1) 0%, rgba(102,76,44,1) 100%);
  background: radial-gradient(circle, rgba(73,13,13,1) 0%, rgba(49,9,9,1) 100%);
  position: relative;
}

#videoSlideHolder {
  height: 18em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 95%;
  align-items: flex-start;
}


#videoSlideHolder:-webkit-scrollbar {
  background: #fff;
  height: 2px;
  width: 2px;
}

.videoBox {
  display: inline-block;
  height: 14em;
  margin: 1em;
  width: 20em;
  color: #fff;
}

.descriptionBox {
  width: 20em;
}

.descriptionBox p {
  width: 100%;
  white-space: normal;
  font-size: 1.1em;
}

/* leftSide */
#leftSide {
  width: 45vw;
  background-image: url("../img/cropped/goldbackground.jpg");
  background-size: 100% 100%;
}

#navBar {
  height: 4em;
  position: absolute;
  top: 0;
}

#navBar > p {
  font-size: 1.6em;
  margin: 0 1em;
  letter-spacing: 3px;
}

#homeImgBox,
#homeImgBox2 {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 50vw;
}

#homeImgBox img,
#homeImgBox2 img {
  height: 100%;
  left: -2em;
  position: relative;
  top: 2em;
}

#name {
  color: #fff;
  font-size: 6em;
  font-weight: bolder;
  text-align: center;
  z-index: 2;
}

#name2 {
  font-size: 2em;
  z-index: 2;
}

/* about page */
#about {
  position: absolute;
  z-index: 30;
  background: radial-gradient(circle, rgba(73,13,13,1) 0%, rgba(49,9,9,1) 100%);
  height: 100vh;
  width: 55vw;
  color: #fff;
  right: -55vw;
}

.heading {
  width: 36rem;
  font-size: 4em;
}

#about div p {
  color: #c1beb8;
  width: 36rem;
  font-size: 2em;
}
